:host {
  display: block;
  width: 100%;
  font-family: serif;
  position: relative;
  z-index: 1;
}

.profile-dropdown-mystical {
  position: fixed !important;
  top: auto !important;
  transform-origin: top right;
}

.user-mystical-profile:hover .profile-dropdown-mystical {
  position: fixed;
  top: calc(var(--header-bottom, 120px));
  right: 2rem;
  z-index: 999999;
}